* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #191825;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

/***** Button 1 *****/

.button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: transparent;
  border: 0.2rem solid cyan;
  text-decoration: none;
  color: cyan;
  padding: 1.2rem 3rem;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  position: relative;
  overflow: hidden;
  animation: focus 1s infinite linear;
  -webkit-animation: focus 2s infinite ease-in-out;
}

@keyframes focus {
  0% {
    /* background-color: transparent; */
    background-color: transparent;
  }
  25% {
    /*background-color: rgba(0, 255, 255, 0.1);
    */
    border-color: rgba(0, 255, 255, 0.1);
  }
  50% {
    /* background-color: transparent; */
    background-color: transparent;
  }
  75% {
    /* background-color: rgba(0, 255, 255, 0.1); */
    border-color: rgba(0, 255, 255, 0.1);
  }
  100% {
    /* background-color: transparent; */
    background-color: transparent;
  }
}

.button-1::before {
  content: "Follow Me";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: cyan;
  border: 0.2rem solid cyan;
  color: #191825;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.button-1:hover::before {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.button-1:hover {
  animation: focus 0s infinite linear;
  -webkit-animation: focus 0s infinite linear;
}

/***** End Button 1 *****/

/***** Button 2 *****/

.button-2 {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: transparent;
  border: 0.2rem solid cyan;
  text-decoration: none;
  color: cyan;
  padding: 1.2rem 3rem;
  position: relative;
}

.button-2::before {
  content: "Follow Me";
  background-color: white;
  color: #191825;
  font-size: 2.4rem;
  font-weight: 600;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(270deg);
  -webkit-transform: rotateX(270deg);
  -moz-transform: rotateX(270deg);
  -ms-transform: rotateX(270deg);
  -o-transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.button-2::after {
  content: "Follow Me";
  background-color: cyan;
  color: #191825;
  font-size: 2.4rem;
  font-weight: 600;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(270deg);
  -webkit-transform: rotateX(270deg);
  -moz-transform: rotateX(270deg);
  -ms-transform: rotateX(270deg);
  -o-transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition-delay: 0.25s;
}

.button-2:hover::before,
.button-2:hover::after {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}

/***** End Button 2 *****/

/***** Button 3 *****/

.button-3 {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: transparent;
  text-decoration: none;
  background-color: transparent;
  color: #191825;
  padding: 2.4rem 3rem;
  position: relative;
}

.button-3::before {
  content: "Hover Me";
  position: absolute;
  top: -0.3rem;
  left: -0.3rem;
  width: 100%;
  height: 100%;
  background-color: cyan;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transform-origin: top;
  /* mix-blend-mode: multiply; */
}

.button-3::after {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transform-origin: bottom;
}

.button-3:hover::before {
  content: "";
  top: -0.6rem;
  left: 0;
  transform: perspective(100rem) rotateX(75deg);
  -webkit-transform: perspective(100rem) rotateX(75deg);
  -moz-transform: perspective(100rem) rotateX(75deg);
  -ms-transform: perspective(100rem) rotateX(75deg);
  -o-transform: perspective(100rem) rotateX(75deg);
}
.button-3:hover::after {
  content: "";
  color: cyan;
  top: 0.6rem;
  left: 0;
  transform: perspective(100rem) rotateX(-75deg);
  -webkit-transform: perspective(100rem) rotateX(-75deg);
  -moz-transform: perspective(100rem) rotateX(-75deg);
  -ms-transform: perspective(100rem) rotateX(-75deg);
  -o-transform: perspective(100rem) rotateX(-75deg);
}

.button-3:hover {
  color: cyan;
}

/***** End Button 3 *****/

/***** Button 4 *****/

.button-4 {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: cyan;
  text-decoration: none;
  color: #191825;
  padding: 1.2rem 3rem;
  position: relative;
}

.button-4::before {
  content: "";
  height: 2rem;
  width: 2rem;
  border-top: 0.4rem solid cyan;
  border-left: 0.4rem solid cyan;
  background-color: transparent;
  position: absolute;
  top: -10px;
  left: -10px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}

.button-4::after {
  content: "";
  height: 2rem;
  width: 2rem;
  border-bottom: 0.4rem solid cyan;
  border-right: 0.4rem solid cyan;
  background-color: transparent;
  position: absolute;
  bottom: -10px;
  right: -10px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}

.button-4:hover::before,
.button-4:hover::after {
  /* height: 121%;
  width: 110%; */
  height: 100%;
  width: 100%;
}

/***** End Button 4 *****/

/***** Button 5 *****/

.button-5 {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: cyan;
  /*border: 0.2rem solid cyan;
  */
  border-radius: 100px;
  text-decoration: none;
  color: #191825;
  padding: 1.2rem 3rem;
  position: relative;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.button-5::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  background-color: cyan;
  z-index: -1;
}

.button-5:hover::before {
  transform: scaleX(1.4) scaleY(1.6);
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  -moz-transform: scaleX(1.4) scaleY(1.6);
  -ms-transform: scaleX(1.4) scaleY(1.6);
  -o-transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button-5:hover {
  transform: scaleX(-0.3rem);
  -webkit-transform: scaleX(-0.3rem);
  -moz-transform: scaleX(-0.3rem);
  -ms-transform: scaleX(-0.3rem);
  -o-transform: scaleX(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button-5:active {
  transform: scaleX(-0.1rem);
  -webkit-transform: scaleX(-0.1rem);
  -moz-transform: scaleX(-0.1rem);
  -ms-transform: scaleX(-0.1rem);
  -o-transform: scaleX(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/***** End Button 5 *****/
