* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2f3035;
  background: url(https://images.unsplash.com/photo-1457460866886-40ef8d4b42a0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: brightness(40%);
}

.container {
  width: 102.4rem;
  min-height: 100vh;
  margin: 0 auto;
}

header {
  height: 11.8rem;
  text-align: center;
}

nav {
  margin: 2.4rem auto 0;
  height: 4rem;
  width: 64rem;
  background-color: rgba(72, 72, 72, 0.4);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
}

main {
  min-height: 40rem;
  text-align: center;
  padding: 8rem 24rem 0 24rem;
}

footer {
  height: 3.6rem;
  background-color: rgba(187, 187, 187, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  color: #f1faff;
}

.header-logo {
  margin-top: 2rem;
  height: 9rem;
}

.primary-heading {
  font-size: 5.2rem;
  color: #f1faff;
  margin-bottom: 2.4rem;
}

.description {
  color: #f1faff;
  font-size: 1.4rem;
  word-spacing: 0.3rem;
  margin-bottom: 4.8rem;
}

.button {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: #f1faff;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  border: 2px solid #f1faff;
  letter-spacing: 4px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.button:hover {
  background-color: #f1faff;
  color: #2f3035;
}

.button:active {
  transform: translateY(5px) scale(0.95);
  -webkit-transform: translateY(5px) scale(0.95);
  -moz-transform: translateY(5px) scale(0.95);
  -ms-transform: translateY(5px) scale(0.95);
  -o-transform: translateY(5px) scale(0.95);
}

.nav-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #f1faff;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.section-map {
  width: 100%;
  text-align: center;
  margin-bottom: 2.4rem;
}

iframe {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.nav-link:hover {
  scale: 1.1;
}
